<div class="list-header">
  <div></div>
  <button class="button add-contact c-pointer" (click)="navigate('add')"><a><i class="fas fa-plus"></i> Add Contact</a></button>
</div>

<div *ngIf="contacts.length==0" class="container-fluid">
     <p class="message">Address Book is empty. Click on create contact to add a contact to the List</p>
</div>

<div class="contact-cards">
  <div  *ngFor="let contact of contacts; let index = index" class="card">
    <div class="container">
      <div class="box">
        <div class="top">
          <a id="edit" (click)="navigate('edit',index)"><i class='fas fa-pen c-pointer'></i></a>
          <a id="delete" (click)="deleteModal(index,contact,template)"><i class="fas fa-trash-alt c-pointer"></i></a>
          <div class="profile"></div>
          <h1 class="name">{{contact.firstName}} {{contact.lastName}}</h1>
          <h3 class="phone">{{contact.phoneno}}</h3>
        </div>
        <div class="bottom">
          <div>
            <p class="bottom-heading">Email </p>
            <p class="bottom-content">{{contact.email}}</p>
          </div>
          <div>
            <p class="bottom-heading">Status </p>
            <p class="bottom-content">{{contact.status}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <p>Are you sure you want to delete contact of {{contacttoDelete.firstName}}  {{contacttoDelete.lastName}}
      and all its details.
    </p>
    <div class="modal-buttons">
      <button class="modal-btn" (click)="modalRef.hide()">  Cancel  </button>
      <button class="modal-btn" (click)="delete()"> Ok </button>
    </div>
  </div>
</ng-template>
